@using Electronic_Store.Models;
@model dynamic
@{
    ViewBag.Title = "Index2";
    Layout = null;
}

<h2>Index2</h2>

<table>
    <tr>
        <th>CustomerID</th>
        <th>FirstName</th>
        <th>LastName</th>
    </tr>
    @foreach (Customer customer in Model.listCustomer)
    {
        <tr>
            <td>@customer.CustomerID</td>
            <td>@customer.FirstName</td>
            <td>@customer.LastName</td>
        </tr>
    }
</table>
<hr />
<table>
    <tr>
        <th>ProductID</th>
        <th>Name</th>
        <th>Price</th>
    </tr>
    @foreach (Product product in Model.listProduct)
    {
        <tr>
            <td>@product.ProductID</td>
            <td>@product.Name</td>
            <td>@product.Price</td>
        </tr>
    }
</table>