@model IEnumerable<Electronic_Store.Models.Store>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Stores</h2>
@Html.ActionLink("Create new", "Create")
<table class="table table-fluid" id="myTable">
    <thead>
        <tr>
            <th>Store name</th>
            <th>Address</th>
            <th>Phone</th>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.StoreName</td>
                <td>@item.Address</td>
                <td>@item.Phone</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.StoreID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.StoreID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.StoreID })
                </td>
            </tr>

        }

    </tbody>
</table>

