@model IEnumerable<Electronic_Store.Models.Brand>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Brand</h2>
@Html.ActionLink("Create new", "Create")
<table class="table table-fluid" id="myTable">
    <thead>
        <tr>
            <th>Brand name</th>
            <th>Image</th>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>
                    <img src="@Url.Content(item.BrandImg)" style="height: 50px" />
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.BrandID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.BrandID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.BrandID })
                </td>
            </tr>

        }

    </tbody>
</table>

