@model PagedList.IPagedList<Electronic_Store.Models.Product>
@using PagedList.Mvc;


@{
    ViewBag.Title = "Home Page";
    var listNewProducts = (List<Electronic_Store.Models.Product>)ViewBag.NewProducts;
    var Products = (List<Electronic_Store.Models.Product>)ViewBag.Products;
}

<div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
        <h1 class="display-3">A Warm Welcome!</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
        <a href="#" class="btn btn-primary btn-lg">Call to action!</a>
    </header>
    <h1 class="my-4">
        New products
    </h1>
    <!-- Page Features -->
    <div class="row text-center">
        @foreach (var item in listNewProducts)
        {
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="@Url.Content(item.ProductImg)" alt="" style=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">@item.Name</a>

                        </h4>
                        <h5>@item.Price</h5>
                        <p class="card-text">@item.Description</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                        <a href="#" class="btn btn-md btn-outline-dark btn-primary">Buy now</a>
                    </div>
                </div>
            </div>

        }


    </div>
    <!-- /.row -->
    @*@Html.PagedListPager(Model, page => Url.Action("Index", new { page, pageSize = Model.PageSize }))*@

</div>
<style>
    ul li {
        margin-left: 10px;
    }
</style>

<div class="container">

    <!-- Jumbotron Header -->
    
    <h1 class="my-4">
        Products
    </h1>
    <!-- Page Features -->
    <div class="row text-center">
        @foreach (var item in Model)
        {
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="@Url.Content(item.ProductImg)" alt="" style=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">@item.Name</a>

                        </h4>
                        <h5>@item.Price</h5>
                        <p class="card-text">@item.Description</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                        <a href="#" class="btn btn-md btn-outline-dark btn-primary">Buy now</a>
                    </div>
                </div>
            </div>

        }


    </div>
    <!-- /.row -->
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, pageSize = Model.PageSize }))

</div>
<!-- /.container -->