
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Data Tables</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Areas/Admin/Assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
</head>
<body>
    <style>
        .container {
            margin-top: 56px;
        }
    </style>
    <nav class="navbar navbar-expand-lg navbar-light bg-success rounded fixed-top">
        @Html.ActionLink("Tân Tân Electronic", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample09">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    @Html.ActionLink("Home", "Index", "Admin", new { area = "Admin" }, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Customer", "Index", "Customers", new { area = "Admin" }, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Brands", "Index", "Brands", new { area = "Admin" }, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Products", "Index", "Products", new { area = "Admin" }, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Category", "Index", "Categories", new { area = "Admin" }, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Staff", "Index", "Staffs", new { area = "Admin" }, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Store", "Index", "Stores", new { area = "Admin" }, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Order", "Index", "Orders", new { area = "Sales" }, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Division", "Index", "Divisions", new { area = "Admin" }, new { @class = "nav-link" })
                </li>

                
            </ul>
            @if (User.Identity.IsAuthenticated)
            {
                <span class="Navbar-text">Welcome: @User.Identity.Name</span>
                @Html.ActionLink("Logout", "Logout", "Login", new { area = "Admin" }, new { @class = "ml-3" })
            }

        </div>
    </nav>
    <div class="container">
        @RenderBody()
    </div>
    <footer class="jumbotron mt-3">
        <h1 class="display-4">Hello, out there!</h1>
        <p class="lead">Does anybody want a wife? I'm single. I got no kids. I could cook, kind of ..</p>
        <hr class="my-4">
        <p class="text-center">COPPYRIGHT © 2020.</p>
        <p class="text-center">All rights reserved.</p>
        
    </footer>


    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
</body>

</html>