@model IEnumerable<Electronic_Store.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Customers</h2>
<p>@Html.ActionLink("Create new", "Create")</p>
<table class="table table-fluid" id="myTable">
    <thead>
        <tr>
            <th>Customer firstname</th>
            <th>Customer lastname</th>
            <th>Address</th>
            <th>Profile image</th>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.Address</td>
                <td>
                    @if (item.ProfileImg != null)
                    {
                        <img src="@Url.Content(item.ProfileImg)" alt="Emty" style="height: 50px" />
                    }
                    else
                    {
                        <img src="~/Assets/images/Customers/anonymous.jpg" alt="Emty" style="height: 50px"/>
                    }
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CustomerID }, new{@class = "btn btn-primary"}) |
                    @Html.ActionLink("Details", "Details", new { id = item.CustomerID }, new { @class = "btn btn-secondary" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.CustomerID }, new { @class = "btn btn-danger" })
                </td>
            </tr>

        }

    </tbody>
</table>

