@model Electronic_Store.Models.Order
@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<h3>Are you sure you want to delete this?</h3>
<div class="container">
    <hr />
    <div class="row">
        <div class="col-md-3">
            @if (Model.Customer.ProfileImg != null)
            {
                <img src="@Url.Content(Model.Customer.ProfileImg)" style="height:200px" />
            }
            else
            {
                <img src="~/Assets/images/Staffs/anonymous.png" alt="Emty" style="height: 200px" />
            }
        </div>
        <div class="col-md-6">
            <dl class="dl-horizontal">
                <dt>
                    Customer name
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Customer.FirstName)
                    @Html.DisplayFor(model => model.Customer.LastName)
                </dd>
                <dt>
                    Staff name
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Staff.FirstName)
                    @Html.DisplayFor(model => model.Staff.LastName)
                </dd>



                <dt>
                    @Html.DisplayNameFor(model => model.OrderDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.OrderDate)
                </dd>





                <dt>
                    @Html.DisplayNameFor(model => model.OrderStatus)
                </dt>

                @if (Model.OrderStatus != true)
                {
                    <dd>Unpaid</dd>
                }
                else
                {
                    <dd>Paid</dd>
                }

            </dl>
        </div>
    </div>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
