@model IEnumerable<Electronic_Store.Models.Order>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Orders</h2>
@Html.ActionLink("Create new", "Create")
<table class="table table-fluid" id="myTable">
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Customer name</th>
            <th>Order date</th>
            <th>Order status</th>
            <th>Total</th>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.OrderID</td>
                <td>
                    @item.Customer.FirstName
                                @item.Customer.LastName
                            </td>
                <td>@(item.OrderDate?.ToString("MM/dd/yyyy"))</td>
                
                    @if(item.OrderStatus != true)
                    {
                        <td>Unpaid</td>
                    }
                    else
                    {
                        <td>Paid</td>
                    }

                <td>@item.Total</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.OrderID }) |
                    @Html.ActionLink("Details", "Index", "OrderItems", new { id = item.OrderID }, null)|
                    @Html.ActionLink("Add items", "Create", "OrderItems", new { id = item.OrderID }, null)

                </td>
            </tr>
            
        }

    </tbody>
</table>

