@model Electronic_Store.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div class="container">
    <div>
        @if (Model.Status != false)
        {

            <h2 class="text-success">Active</h2>
        }
        else
        {
            <h2 class="text-danger">Deleted</h2>
            <style>
                .col-md-3 img {
                    opacity: 0.3;
                    filter: alpha(opacity=40);
                }
            </style>
        }
    </div>
   
    <hr />
    <div class="row">
        <div class="col-md-3">
            <img src="@Url.Content(Model.ProductImg)" style="height:200px" />
        </div>
        <div class="col-md-6">


            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Price)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Price)
                </dd>

                <dt>
                    Brand
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Brand.Name)
                </dd>

                <dt>
                    Category
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Category.Name)
                </dd>

            </dl>
        </div>

    </div>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductID }, new { @class ="btn btn-md btn-primary"}) |
    @Html.ActionLink("Back to List", "Index")
</p>
