@model IEnumerable<Electronic_Store.Models.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Categories</h2>
<p>@Html.ActionLink("Create new", "Create")</p>
<table class="table table-fluid" id="myTable">
    <thead>
        <tr>
            
            <th>Category name</th>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>
                    @Html.ActionLink(" ", "Edit", new { id = item.CategoryID }, new { @class = "fa fa-pencil fa-2x mr-2" })
                    @Html.ActionLink(" ", "Details", new { id = item.CategoryID }, new { @class = "fa fa-info-circle fa-2x mr-2" })
                    @Html.ActionLink(" ", "Delete", new { id = item.CategoryID }, new { @class = "fa fa-trash fa-2x" })
                </td>
            </tr>

        }

    </tbody>
</table>

