@model IEnumerable<Electronic_Store.Models.OrderItem>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Orders items</h2>
<p>Customer name: @ViewBag.CustomerName </p>
<table class="table table-fluid" id="">
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Product name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>

            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.OrderID</td>
                <td>@item.Product.Name</td>
                <td>@item.Quanlity</td>
                <td>@item.Price</td>
                <td>@(item.Price*item.Quanlity)</td>
            </tr>

        }

    </tbody>
</table>

