@model IEnumerable<Electronic_Store.Models.OrderItem>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Orders items</h2>
@Html.ActionLink("Create new", "Create")
<table class="table table-fluid" id="myTable">
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Product name</th>
            <th>Quantity</th>
            <th>Price</th>
            
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.OrderID</td>
                <td>@item.Product.Name</td>
                <td>@item.Quanlity</td>
                <td>@item.Price</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.OrderID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.OrderID })
                </td>
            </tr>

        }

    </tbody>
</table>

