@model Electronic_Store.Models.Staff

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div class="container">
    <h4>Staff</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            @if (Model.ProfileImg != null)
            {
                <img src="@Url.Content(Model.ProfileImg)" style="height:200px" />
            }
            else
            {
                <img src="~/Assets/images/Staffs/anonymous.png" alt="Emty" style="height: 200px" />
            }
        </div>
        <div class="col-md-6">
            <dl class="dl-horizontal">
                <dt>
                    Full name
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FirstName)
                    @Html.DisplayFor(model => model.LastName)
                </dd>

                

                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Phone)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Phone)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Address)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Address)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CreatedDate)
                </dd>


                <dt>
                    @Html.DisplayNameFor(model => model.Gender)
                </dt>

                @if (Model.Gender != true)
                {
                    <dd>Nữ</dd>
                }
                else
                {
                    <dd>Nam</dd>
                }

                <dt>
                    @Html.DisplayNameFor(model => model.Salary)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Salary)
                </dd>

                <dt>
                    Store
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Store.StoreName)
                </dd>

            </dl>
        </div>
    </div>


    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
