@model Electronic_Store.Models.Staff

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
    <div>
        @if (Model.Status != false)
        {

            <h2 class="text-success">Active</h2>
        }
        else
        {
            <h2 class="text-danger">Deleted</h2>
            <style>
                .col-md-3 img {
                    opacity: 0.3;
                    filter: alpha(opacity=40);
                }
            </style>
        }
    </div>
    <hr />
    <div class="row">

        <div class="col-md-3">

            @if (Model.ProfileImg != null)
            {
                <img src="@Url.Content(Model.ProfileImg)" style="height:200px" />
            }
            else
            {
                <img src="~/Assets/images/Staffs/anonymous.png" alt="Emty" style="height: 200px" />
            }

        </div>
        <div class="col-md-6">
            <dl class="dl-horizontal">
                <dt>
                    Full name
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FullName)
                </dd>
                <dt>
                    Role 
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Role)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Phone)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Phone)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Address)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Address)
                </dd>

                <dt>
                    Division
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Division.Name)
                </dd>


                <dt>
                    @Html.DisplayNameFor(model => model.Gender)
                </dt>

                @if (Model.Gender != true)
                {
                    <dd>Nữ</dd>
                }
                else
                {
                    <dd>Nam</dd>
                }

                <dt>
                    @Html.DisplayNameFor(model => model.Salary)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Salary)
                </dd>

                <dt>
                    Store
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Store.StoreName)
                </dd>

            </dl>
        </div>
    </div>

</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StaffID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
