@model IEnumerable<Electronic_Store.Models.Staff>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Staffs</h2>
<p>@Html.ActionLink("Create new", "Create")</p>
<table class="table table-fluid" id="myTable">
    <thead>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Gender</th>
            <th>Address</th>
            <th>Profile image</th>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
            @if (item.Gender != true)
            {
                <td>Nữ</td>
            }
            else
            {
                <td>Nam</td>
            }
            <td>@item.Address</td>
            <td>
                @if (item.ProfileImg != null)
                {
                    <img src="@Url.Content(item.ProfileImg)" alt="Emty" style="height: 50px" />
                }
                else
                {
                    <img src="~/Assets/images/Staffs/anonymous.png" alt="Emty" style="height: 50px" />
                }
            </td>
            @if (item.Status != true)
            {
                <td class="text-danger fa fa-minus-circle fa-2x mr-2"> 
            @Html.ActionLink(" ", "Details", new { id = item.StaffID }, new { @class = "fa fa-info-circle" })</td>
            }
            else
            {
                <td>

                    @Html.ActionLink(" ", "EditRole", new { id = item.StaffID }, new { @class = "fa fa-book fa-2x mr-2" })
                    @Html.ActionLink(" ", "Edit", new { id = item.StaffID }, new { @class = "fa fa-pencil fa-2x mr-2" })


                    @Html.ActionLink(" ", "Details", new { id = item.StaffID }, new { @class = "fa fa-info-circle fa-2x mr-2" })


                    @Html.ActionLink(" ", "Delete", new { id = item.StaffID }, new { @class = "fa fa-trash fa-2x" })
                    
                </td>
            }
        </tr>

        }

    </tbody>
</table>

