@model IEnumerable<Electronic_Store.Models.Staff>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Staffs</h2>
<p>@Html.ActionLink("Create new", "Create")</p>
<table class="table table-fluid" id="myTable">
    <thead>
        <tr>
            <th>Customer firstname</th>
            <th>Customer lastname</th>
            <th>Gender</th>
            <th>Address</th>
            <th>Profile image</th>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                    @if (item.Gender != true) { 
                        <td>Nữ</td>
                    }
                    else
                    {
                        <td>Nam</td>
                    }
                <td>@item.Address</td>
                <td>
                    @if (item.ProfileImg != null)
                    {
                        <img src="@Url.Content(item.ProfileImg)" alt="Emty" style="height: 50px" />
                    }
                    else
                    {
                        <img src="~/Assets/images/Staffs/anonymous.png" alt="Emty" style="height: 50px" />
                    }
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.StaffID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.StaffID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.StaffID }) |
                    @Html.ActionLink("Edit role", "EditRole", new { id = item.StaffID })
                </td>
            </tr>

        }

    </tbody>
</table>

